@model VmForgotPassword
@{
    ViewData["Title"] = "Forgot Password";
}

<link rel="stylesheet" type="text/css" href="~/css/login.css">

<form method="post" asp-controller="Account" asp-action="forgotpassword" class="form" autocomplete="off" style="margin-top: 3rem; margin-bottom: 7rem;">
    <div class="form-inner">
        <h2>Forgot Password</h2>
        <div class="text text-danger text-center" asp-validation-summary="All"></div>
        <div class="input-wrapper">
            <label asp-for="Email"></label>
            <div class="input-group">
                <span class="icon">
                    <img src="~/images/icons/email.svg" alt="email">
                </span><input type="email" asp-for="Email" data-lpignore="true" />
            </div>
            <span class="text text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="btn-group"><button class="btn btn--primary" type="submit">Submit</button></div>
    </div>
</form>


<script src="~/js/login.js"></script>
