@model List<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

<link href="~/areas/admin/css/sweetalert2.min.css" rel="stylesheet" />
<div class="content-wrapper">
    <div class="row grid-margin">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Order status</h6>
                    <div class="d-flex table-responsive">
                        <div class="btn-group mr-2">
                            <button id="addRole" class="btn btn-sm btn-info"><i class="mdi mdi-plus-circle-outline"></i>Add Role</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table mt-3 border-top"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/areas/admin/js/sweetalert2.min.js"></script>
    <script src="~/areas/admin/js/script.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            RolesData();
        });
    </script>
}