@model VmBase
@{
    ViewData["Title"] = "Index";
}

<!-- Page heading -->
<div class="container p-t-4 p-b-35">
    <h2 class="f1-l-1 cl2">
        @if (Model != null)
        {
            @Model.About.Title
        }
    </h2>
</div>

<!-- Content -->
<section class="bg0 p-b-110">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-8 p-b-30">
                <div class="p-r-10 p-r-0-sr991">
                    <p class="f1-s-11 cl6 p-b-25">
                        @if (Model != null)
                        {
                           @Html.Raw(Model.About.Content)
                        }
                    </p>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-md-5 col-lg-4 p-b-30">
                <div class="p-l-10 p-rl-0-sr991 p-t-5">
                </div>
            </div>
        </div>
    </div>
</section>