@{
    ViewBag.Title = "Not Found";
}

<link rel="stylesheet" type="text/css" href="~/css/404.css">

<div class="err_page">
    <div class="err_page_left">
        <img src="~/images/404.png" width=360px height=250px />
    </div>
    <div class="err_page_right">
        <h1>404</h1>
        <h4>@ViewBag.ErrorMessage</h4>
        <p>Don't worry. Since you're valuable to us we will bring you back to safety</p>
        <button onclick="window.location.href='/home'" class="err_btn">Back to home</button>
    </div>

</div>